{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LestaTask</title>
    <link rel="stylesheet" href="{% static 'styles/file_upload_style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    {% if success == False %}
    <div class="error">
        <p class="message">{{ message }}</p>
    </div>
    {% endif %}
    <div class="wrapper">
    <header>50 самых популярных слов в файле</header>
    <form action="" method="POST" name="FileForm">
        {% csrf_token %}
      <input class="file-input" type="file" name="file" accept=".txt" hidden>
      <i class="fas fa-cloud-upload-alt"></i>
      <p>Нажмите сюда чтобы загрузить файл</p>
    </form>
  </div>
    <script src="{% static 'scripts/upload_file_script.js' %}"></script>
    {% if error == True %}
    <script>
        close_error = () =>
        {
            error_block = document.querySelector('.error')
            error_block.style.top = '-100px'
            setTimeout(()=>{error_block.style.display = 'none'}, 1000)
        }
        setTimeout(close_error, 10 * 1000) // 10 seconds
    </script>
    {% endif %}
</body>
</html>