{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'styles/table_style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1 class="title">Lesta Task</h1>
        <table>
            <caption>50 самых важных слов в файле</caption>
            <tr>
                <th>Слово</th>
                <th>Количество</th>
                <th>TF (Term Frequency)</th>
                <th>IDF (Inverse Document Frequency)</th>
                <th>Вес слова</th>
            </tr>
            {% for row in result %}
            <tr>
                <td data-cell="Слово">{{ row.word }}</td>
                <td data-cell="Количество">{{ row.count }}</td>
                <td data-cell="TF (Term Frequency)">{{ row.tf }}</td>
                <td data-cell="IDF (Inverse Document Frequency)">{{ row.idf }}</td>
                <td data-cell="Вес слова">{{ row.word_weight }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/">Загрузить еще файл</a>
    </div>
</body>
</html>