:root {
    --main-color: #7269f2;
    --second-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--main-color);
    background: linear-gradient(126deg, rgba(91,83,215,1) 0%, rgba(87,133,244,1) 66%, rgba(167,108,236,1) 100%);
}
::selection{
    color: var(--second-color);
    background: var(--main-color);
}
.wrapper{
    width: min(520px, 100% - 3rem);
    background: var(--second-color);
    border-radius: 5px;
    padding: 50px 30px;
    box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
}
.wrapper header{
    color: var(--main-color);
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
.wrapper form{
    height: 167px;
    display: flex;
    cursor: pointer;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed var(--main-color);
    opacity: .5;
    transition: opacity 240ms ease-in-out;
}
.wrapper form:hover {
    opacity: 1;
}
form :where(i, p){
    color: var(--main-color);
}
form i{
    font-size: 50px;
}
form p{
    margin-top: 15px;
    font-size: 16px;
}

.error {
    width: 400px;
    height: 100px;
    background: #ff6161;
    position: absolute;
    top: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    transition: ease-in-out 300ms;
}